.nav-container {
	display: flex;
	align-items: center;
	background-color: rgb(148, 140, 140);
	/* justify-content: space-around; */
	margin-bottom: 0;
	padding: 2px 1px;
}

#logo-link {
	/* margin-left: 2%; */
	margin-right: 10%;
	background-color: white;
}
.nav a {
	text-decoration: none;
	padding: 10px 20px;
	font-weight: bold;
	margin-bottom: 0;
}
